.body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  padding: 20px;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.content {
  display: flex;
  padding: 20px;
}

.aside-left {
  float: left;
  width: 15%;
  margin-right: 20px;
}

.aside-left-title {
  font-size: 20px;
  font-weight: bold;
}

.about {
  background-color: #f8f9fa;
  margin-bottom: 40px;
  padding: 60px 20px 20px 20px;
}

.archives {
  padding: 20px 20px 20px 20px;
}

.past-archives {
  margin: 16px 0 16px 0;
  display: flex;
  flex-direction: column;
}

.article {
  width: 70%;
}

.article-left .article-right {
  margin: auto;
  width: 50%;
  flex-flow: row wrap;
  padding: 40px 0 40px 0;
  display: flex;
}

.article-left {
  width: 50%;
  float: left;
}

.article-right {
  width: 50%;
  float: right;
}

.article-info {
  box-sizing: border-box;
  border-radius: 5px;
  background: white;
  display: block;
  text-align: left;
  box-shadow: #ccc 0 0 5px 0;
  float: left;
  margin: 0 10px 10px 10px;
}

.img-div {
  float: top;
  text-align: center;
  background-color: #f9f9f9;
  height: 200px;
  width: 100%;
}

.article-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.article-description {
  padding: 20px;
}

.article-title {
  font-weight: bold;
  font-size: 18px;
}

.article-abstract {
  margin: 20px 0;
}

.article-link {
  text-decoration: none;
}

.aside-right {
  margin-left: 20px;
  float: right;
  display: flex;
  flex-direction: row;
  width: 15%;
  align-items: center;
  text-align: center;
}

.sign-in-form {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
}

.form-checkbox {
  margin: 10px;
  font-size: 14px;
  font-weight: bold;
}

.input-info {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.input-email {
  padding: 3px 0 3px 5px;
  border-radius: 4px 4px 0 0;
  border: 1px solid #c8c8c8;
  margin-bottom: 0;
}

.input-password {
  padding: 3px 0 3px 5px;
  border-radius: 0 0 4px 4px;
  border: 1px solid #c8c8c8;
  border-top: none;
}

.sigin-in-button {
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 5px;
  color: white;
  background-color: #4285f4;
}

.footer {
  background-color: #f9f9f9;
  text-align: center;
  padding: 20px;
}

.signature {
  margin: 0;
  color: #a6a6a6;
}
